{# "credit": {
    "title": "Forza Motorsport",
    "year": "2023",
    "credit": "Software Engineer",
    "logo": "forza_logo.png"
}, #}

<div class="flex flex-row justify-center space-x-24">
    <div class="basis-64">
        <h1 class="text-lg font-semibold">{{credit.title}}</h3>
        <h2 class="text-lg">{{credit.year}}</h2>
        <h3 class="text-lg">{{credit.credit}}</h3>
    </div>
    <div class="basis-48 flex justify-center">
        <img class="mt-2 h-16" src="/img/{{credit.logo}}" alt="{{credit.logo_alt}}">
    </div>
</div>