{# "job": {
    "title": "Senior Software Engineer",
    "company": "Microsoft - Turn 10 Studios",
    "location": "Remote",
    "dates": "2022 - Present",
    "description": ""
}, #}

<section class="prose">
    <h3>{{ job.title }}</h3>
    <h4>{{ job.company }}</h4>
    <h5>{{ job.location }}</h5>
    <h6>{{ job.dates }}</h6>
    <p>{{ job.description }}</p>
</section>