<section class="flex justify-center">
    <div>
        <p class="text-center mb-2"> Get in touch </p>
        <ul class="flex space-x-8">
            {% for item in contact.items %}
            <li class="block float-left space-x-12 text-3xl"><a rel="{{item.rel}}" href="{{ item.link }}"><i class="{{item.class}}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</section>