<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b bg-gradient-to-r from-cyan-500 to-blue-500">
  <a href="/" class="font-semibold text-xl tracking-tight">Alex Ferbrache</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}"
         class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
         {{'bg-black text-white' if entry.url in page.url
         else 'text-white hover:text-gray-900'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>
