@import "tailwindcss";

:root {
	--accent: oklch(70.4% 0.14 182.503);
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--white: 255, 255, 255;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--seafoam: #30555d;
	--seafoam-dark: #1e2d3d;
	--seafoam-gradient: linear-gradient(to bottom, var(--seafoam), var(--seafoam-dark));
	--stripe-red: #c1483a;
	--stripe-orange: #d37e46;
	--stripe-yellow: #e4be5e;

	--off-white: #dae5dc;
}

@layer base {
	html {
		box-sizing: border-box;
		position: relative;
		&::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: var(--seafoam-gradient);
			z-index: -1;
		}
	}

	body {
		font-family: var(--font-atkinson);
		margin: 0;
		padding: 0;
		text-align: left;
		background-image: var(--seafoam-gradient) no-repeat;
		min-height: 100vh;
		/* background-size: 100% 600px; */
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: var(--off-white);
		font-size: 20px;
		line-height: 1.7;
	}
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.5rem 0;
		color: var(--off-white);
		line-height: 1.2;
	}
	h1 { font-size: 3.052em; }
	h2 { font-size: 2.441em; }
	h3 { font-size: 1.953em; }
	h4 { font-size: 1.563em; }
	h5 { font-size: 1.25em; }

	.prose h1 { font-size: 2.441em; }
	.prose h2 { font-size: 1.953em; }
	.prose h3 { font-size: 1.563em; }
	.prose h4 { font-size: 1.25em; }
	.prose h5 { font-size: 1.15em; }

	strong, b { font-weight: 700; }
	a { color: var(--accent); }
	a:hover { color: var(--accent); }
	p { margin-bottom: 1em; }
	.prose p { margin-bottom: 1.5em; }
	.prose ul { margin-bottom: 1.5em; }
	textarea { width: 100%; font-size: 16px; }
	input { font-size: 16px; }
	table { width: 100%; }
	img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}
	code {
		padding: 2px 5px;
		background-color: rgb(var(--gray-dark));
		color: var(--off-white);
		border-radius: 2px;
	}
	pre {
		padding: 1.5em;
		border-radius: 8px;
	}
	pre > code { all: unset; }
	blockquote {
		border-left: 4px solid var(--accent);
		padding: 0 0 0 20px;
		margin: 0;
		font-size: 0.9em;
		font-style: italic;
	}
	hr {
		border: none;
		border-top: 1px solid rgb(var(--gray-light));
	}
	@media (max-width: 720px) {
		body { font-size: 18px; }
		main { padding: 1em; }
	}
}
