<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
  <script src="https://kit.fontawesome.com/931e531ae1.js" crossorigin="anonymous"></script>
</html>
