---
title: Work
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 0
---

{% set experience = resume.experience %}
<section class="flex-col justify-center space-y-6">
{% for job in experience.jobs %}
{% include "components/job.njk" %}
{% endfor %}
</section>
