---
const today = new Date();
---

<footer class="py-12 px-4 bg-slate-50 text-slate-500 text-center">
	&copy; {today.getFullYear()} Alex Ferbrache. All rights reserved.
	<div class="social-links gap-4 hidden md:flex justify-center">
		<a
			rel=""
			target="_blank"
			href="https://www.linkedin.com/in/alexferbrache/"
			class="text-slate-600 hover:text-slate-900 transition-colors"
			><span class="sr-only">LinkedIn</span>
			<i class="fa-brands fa-linkedin text-2xl"></i>
		</a>

		<a
			rel=""
			target="_blank"
			href="https://bsky.app/profile/alexmakes.games"
			class="text-slate-600 hover:text-slate-900 transition-colors"
			><span class="sr-only">Bluesky</span>
			<i class="fa-brands fa-bluesky text-2xl"></i>
		</a>

		<a
			rel=""
			target="_blank"
			href="mailto:alex@alexmakes.games"
			class="text-slate-600 hover:text-slate-900 transition-colors"
			><span class="sr-only">Email</span>
			<i class="fa-solid fa-envelope text-2xl"></i>
		</a>
	</div>
</footer>
